html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/*   GENERALES   */

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: white;
    /*background: url(../img/bg.png);*/
}

a {
    text-decoration: none;
}

.link {
    color: #01b1ae;
}

.link:visited {
    color: #01b1ae;
}

img {
    max-width: 100%;
}

.thumb {
    width: 100px;
    border: 2px solid #e1e1e1;
    margin-left: 10px;
    border-radius: 5px;
}


/*   CONTENEDOR   */
.contenedor {
    width: 98%;
    margin: 0 auto;
}

@media only screen and (min-width:480px) {
    .contenedor {
        width: 95%;
    }
}

@media only screen and (min-width:768px) {
    .contenedor {
        width: 90%;
    }
}

@media only screen and (min-width:992px) {
    .contenedor {
        width: 90%;
        max-width: 1100px;
    }
}

/*   HEADER   */
header.header {
    background-image: url(../img/playeras.jpg);
    background-size: cover;
    background-position: center center ;
    height: 55vh;
    min-height: 350px;
}
.header h1 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 0 0 15px #000000;
}

@media only screen and (min-width:480px) {
    .header h1 {
        font-size: 3rem;
        letter-spacing: 2px;
    }
    header.header {
        height: 50vh;
    }
}

@media only screen and (min-width:768px) {
    .header h1 {
        font-size: 3.5rem;
        letter-spacing: 4px;
    }
    header.header {
        height: 45vh;
    }
}

@media only screen and (min-width:1440px) {
    header.header {
        height: 30vh;
    }
}

@media only screen and (min-width:2560px) {
    header.header {
        height: 30vh;
    }
}

.header p {
    color: white;
    font-size: 1rem;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
    text-shadow: 0 0 10px #000000;
}

@media only screen and (min-width:480px) {
    .header p {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width:768px) {
    .header p {
        font-size: 1.5rem;
    }
}

.header p span {
    font-weight: bolder;
}

.logo {
    padding-top: 100px;
}

@media only screen and (min-width:768px) {
    .logo {
        padding-top: 90px;
    }
}

div.logo a h1 {
    text-decoration: none;
}

/*   MENU   */
.barra {
    background-color: #353535;
    border-bottom: 4px solid #01b1ae;
    padding: 20px 0;
}

nav.nav-menu {
    display: none;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    nav.nav-menu {
        float: left;
        text-align: left;
        display: block;
    }
}


.nav-menu a {
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    width: 100%;
    display: block;
    padding: 10px;
    transition: all .6s ease;
    text-align: center;
    clear: both;
}

.nav-menu a:first-child {
    padding: 10px 35px;
    border: 2px solid #01b1ae;
}

@media only screen and (max-width: 768px) {
    .nav-menu a {
        border-bottom: 1px solid #e1e1e1;
    }
}

@media only screen and (min-width: 768px) {
    nav.nav-menu a {
        padding: 10px 10px;
        width: auto;
        display: inline-block;
        margin: 0 10px 0 0;
    }
}

.nav-menu a:hover {
    background-color: #01b1ae;
}

div.menu-movil {
    width: 60px;
    display: block;
    float: right;
    text-align: right;
    margin-top: 12px;
    padding-right: 5px;
    cursor: pointer;
}

div.menu-movil span {
    height: 8px;
    margin-bottom: 6px;
    background-color: white;
    display: block;
}

.options-movil {
    text-align: center;
    margin-top: 12px;
    cursor: pointer;
    transition: .5s all ease;
    border: 2px solid #01b1ae;
    border-radius: 5px;
    background-color: white;
}

.options-movil i {
    font-size: 2rem;
    color: #01b1ae;
}

div.logo-letras {
    width: 75%;
    float: left;
}

div.logo-letras h1 {
    color: white;
    font-size: 1.6rem;
    padding-left: 5px;
}

@media only screen and (min-width: 768px){
    div.menu-movil {
        display: none;
    }

    div.options-movil {
        display: none;
    }

    div.logo-letras {
        display: none;
    }
}


/*   CONTENIDO PRINCIPAL   */

/*   Barra Lateral   */
aside.lateral {
    width: 100%;
    float: left;
}

@media (min-width: 768px) {
    aside.lateral {
        width: 25%;
        min-height: 500px;
        margin-top: 20px;
        margin-left: 10px;
    }
}

.lateral h3 {
    display: block;
    width: 100%;
    text-align: center;
    padding: 2px 0;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #e1e1e1;
    border-bottom: 2px solid #01b1ae;
}

.lateral .block-aside {
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
}

.block-aside a {
    display: block;
}

.despliege {
    display: none;
}

@media (min-width: 768px) {
    .despliege {
        display: block;
    }
}

.options {
    margin-top: 20px;
    border-top: 5px solid #4e4e4e;
}

/*   Formulario Login  */
form label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.login input[type='text'],
.login input[type='password'],
.login input[type='email'] {
    border: 1px solid #C9C9C9;
    width: 100%;
    background-color: white;
    padding: 2px;
    color: gray;
    transition: all 0.3s ease;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid #01b1ae;
    margin-bottom: 10px;
}

.login input[type='text']:focus,
.login input[type='password']:focus,
.login input[type='email']:focus {
    border: 2px solid #01b1ae;
    border-radius: 4px;
    font-size: 1.2rem;
    outline: 0;
    color: black;
}

/*   Formulario Registro   */
.form-registro {
    margin: 3rem 0;
}

.form-registro form {
    padding: 0 1rem;
}

@media (min-width: 768px) {
    .form-registro {
        overflow: hidden;
        margin: 3rem 0;
    }

    .form-registro form {
        padding: 0 8rem;
    }
}

.form-registro label {
    text-transform: uppercase;
    margin-top: 20px;
}

.form-registro .nombre-reg {
    float: left;
    width: 45%;
    margin-right: 2rem;
}

.form-registro .apellidos-reg {
    overflow: hidden;
}

.form-registro input:not([type="submit"]),
.form-registro select,
.form-registro textarea {
    width: 100%;
    padding: 8px;
    background-color: #e1e1e1;
    border: 2px solid #e1e1e1;
    border-radius: 5px;
    transition: all 0.2s ease-out;
}

.form-registro input:not([type="submit"]):focus,
.form-registro select:focus,
.form-registro textarea:focus {
    outline: 0;
    border-bottom: 2px solid #01b1ae;
}

/*   FORMULARIO PEDIDO   */
.form-pedido {
    margin-top: 0;
    margin-bottom: 2rem;
}

.form-pedido h3 {
    margin: 0;
    font-size: 2rem;
}

.form-pedido input {
    margin-bottom: 1rem;
}

.total-pedido {
    float: right;
    font-size: 1.3rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .pedido {
        display: flex;
        align-content: space-between;
    }

    .form-pedido {
        margin: 0;
        width: 90%;
        margin-right: 1rem;
    }
}

.form-pedido form {
    padding: 0;
}

/*   FORM DETALLE   */
.form-detalle {
    margin: 0;
}
.form-detalle label {
    margin-top: 0;
}

.estado-pedido {
    margin: 0 auto;
    width: 60%;
}

/*   Botones   */
.btn {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2rem;
    padding: .5rem 1.5rem;
    margin-top: 1rem;
    display: inline-block;
    text-align: center;
    border: none;
    flex: 0 0 100%;
    transition: all 0.3s ease-in-out;
}

.btn-login {
    width: 100%;
    background-color: #01b1ae;
    font-size: 1.5rem;
}

.btn-login:hover {
    background-color: #018c8a;
    cursor: pointer;
}

.btn-lateral {
    width: 100%;
    background-color: #018c8a;
    font-size: 1rem;
    padding: .8rem 1.2rem;
    border-radius: 5px;
}

.btn-lateral:hover {
    background-color: #01b1ae;
    cursor: pointer;
}

.btn-lateral i {
    font-size: 1rem;
}

.btn-comprar {
    background-color: #71B100;
    border: 1px solid rgb(100, 158, 1);
    border-radius: 5px;
    transition: all .3s ease;
}

@media (max-width: 425px) {
    .btn-comprar {
        width: 100%;
    }
}

.btn-comprar:hover {
    background-color: rgb(100, 158, 1);
}

.btn-carrito {
    background-color: #f14343;
    border-radius: 5px;
    border: 1px solid #c10000;
    margin-left: 10px;
    transition: all .3s ease;
}

@media (max-width: 425px) {
    .btn-carrito {
        width: 100%;
        margin-left: 0;
    }
}

.btn-carrito:hover {
    background-color: #c10000;
}

.btn-editar {
    background-color: #ffd416;
    margin: 0;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn-borrar i,
.btn-editar i{
    font-size: 1.2rem;
}

.btn-editar:hover {
    background-color: #e7ba00;
}

.btn-borrar {
    background-color: #f14343;
    padding: 5px 10px;
    margin: 0;
    border-radius: 5px;
}

.btn-borrar:hover {
    background-color: #c10000;
}

.btn-rojo {
    background-color: #f14343;
}
.btn-rojo:hover {
    background-color: #c10000;
}

/*   Titulos   */
h2 {
    text-align: center;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 20px;
    position: relative;
    display: inline-block;
}

@media (min-width: 768px) {
    h2 {
        font-size: 2rem;
    }
}

h2:after {
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    left: 0;
    bottom: -1px;
    border-radius: 4px;
    background-color: #01b1ae;
}

.titulo {
    text-align: center;
}

/*   Productos   */
.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.producto {
    flex: 0 0 calc(50% - .2rem);
    border: .75px solid #b5b5b5;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 15px;
    background-color: whitesmoke;
    transition: all .3s ease;
}

.producto:hover {
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.6);
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.6);
    transform: scale(1.03);
}

.contenido-producto {
    padding: 5px;
}

@media (min-width: 768px) {
    .producto {
        flex: 0 0 calc(33.3% - 1rem);
        margin-right: 15px;
    }

    .contenedor-productos {
        justify-content: normal;
    }

    .contenido-producto {
        padding: 15px;
    }
}

.producto h3,
.producto p {
    margin: 0;
}

.producto h3 {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}

.productos-no {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.producto p {
    color: green;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px 0;
}

.producto label {
    font-size: .9rem;
    color: #4e4e4e;
}

.producto .img-producto img {
    padding: 0;
    max-height: 230px;
    display: block;
    margin: auto
}

.img-producto {
    background-color: white;;
}

@media (min-width: 768px) {
    .producto .img-producto img {
        padding: 15px;
    }
}

/* PRODUCTO INDIVIDUAL */
.contenedor-producto {
    padding-top: 25px;
    width: 98%;
}
@media (min-width: 768px) {
    .contenedor-producto {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 95%;
    }

    .contenedor-producto .img-producto {
        max-width: 500px;
    }

    .contenedor-producto .contenido-producto {
        max-width: 430px;
        border-left: 2px solid #b5b5b5;
        padding-left: 10px;
    }
}

.contenedor-producto .contenido-producto h3 {
    width: 100%;
    font-size: 2rem;
    padding-bottom: 10px;
    border-bottom: 2px solid #b5b5b5;
}

.contenedor-producto .contenido-producto label {
    font-size: 1.3rem;
    color: #4e4e4e;
    display: block;
}

.contenedor-producto .contenido-producto label span {
    font-size: 0.9rem;
    color: #4e4e4e;
    display: block;
}

.contenedor-producto .contenido-producto label a {
    color: blue;
}

.contenedor-producto .contenido-producto p {
    padding-top: 5px;
    font-size: 1.2rem;
    color: green;
    margin: 10px 0;
}

.contenedor-producto .contenido-producto p span {
    color: black;
    margin: 10px 0;
}

/*   FOOTER   */
.footer {
    background-color: #353535;
    overflow: hidden;
    margin-top: 30px;
    border-top: 3px solid #01b1ae;
}

.footer p {
    color: white;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1rem;
}

/*   Page Error 404   */
div.contenedor .error404:first-child {
    text-align: center;
    margin-top: 13rem;
}

.error404 h1 {
    color: #555;
    font-size: 2em;
    font-weight: 400;
}

.error404 p {
    text-align: center;
    color: #888;
}

/*   Alertas   */
.alerta{
    padding: 8px;
    font-size: 14px;
    color: white;
    background: #71B100;
    margin-top: 5px;
    box-shadow: 0 1px 3px #ccc;
    margin-bottom: 15px;
    border-radius: 5px;
}

.alerta-error{
    background: #f14343;
}

/*   Tablas   */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

table {
    border-collapse: collapse;
}

.table-bordered thead td,
.table-bordered thead th {
    border-bottom-width: 2px;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #dee2e6;
}

th {
    text-align: inherit;
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/*   CARRITO   */
.producto-carrito a{
    font-weight: bold;
    color: #018c8a;
}

.producto-carrito .eliminar {
    font-size: 1.5rem;
    margin: auto 5px;
    color: #555555;
    transition: all 0.3s ease;
}

.producto-carrito .eliminar:hover {
    color: black;
}

.producto-carrito {
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 768px) {
    .producto-carrito {
        display: flex;
        flex-direction: row;
    }
}

.producto-carrito img {
    width: 80px;
    border: 2px solid #b5b5b5;
    border-radius: 5px;
    margin-right: 10px;
}

.tabla-carrito {
    text-align: center;
}

.tabla-carrito td {
    font-size: 1.15rem;
    vertical-align: middle;
}

.cantidad {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0 auto;
}


.cantidad a {
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    background-color: #b5b5b5;
}

@media (max-width: 768px) {
    .cantidad {
        display: flex;
        flex-direction: column;
        vertical-align: center;
    }
}

.tabla-carrito .titulo-total {
    font-size: 1.8rem;
}

.tabla-carrito span {
    font-weight: bold;
}

.tabla-total {
    max-width: 500px;
    margin: 0 auto;
}
.tabla-total a {
    margin-top: 0;
}

/*   PEDIDOS   */
.pedido-producto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid #b5b5b5;
}

.pedido-producto img {
    width: 100px;
}

.pedido-producto p {
    font-size: 1.5rem;
}

.pedido-producto p span {
    font-weight: bold;
}

.pedido-producto p:last-child {
    color: green;
}

.pedido-confirmado h3 {
    text-align: center;
    font-size: 1.8rem;
}

.pedido-confirmado p {
    font-size: 1.5rem;
}